# Python
__pycache__/
*.pyc
.env
venv/

# Java/Maven
target/
*.class
*.jar
*.log

# Node/Quarkus UI
node_modules/
dist/

# Kubernetes/Helm
*.tmp
.kube/
.openshift/
.kustomize/

# IDEs
.vscode/
.idea/
.DS_Store

# Outputs
output/
reports/
ml/runs/
